<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.niushuai.project.devcontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.DevControl">

        <!-- 主页面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 开关操作 -->
        <activity
            android:name=".ui.powerswitch.PowerSwitchActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 开关设置 -->
        <activity
            android:name=".ui.powerswitch.PowerSwitchSetActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 开关参数设置 -->
        <activity
            android:name=".ui.powerswitch.PowerSwitchSetParamActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--自定义设备操作页面-->
        <activity
            android:name=".ui.custom.DeviceCustomActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--自定义设备添加页面-->
        <activity
            android:name=".ui.deviceadd.DeviceAddCustomActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--开关添加页面-->
        <activity
            android:name=".ui.deviceadd.DeviceAddPowerSwitchActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

</manifest>